<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54024342557-oamovm51imth62n5lmvc18gf7iseaf13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54024342557-oamovm51imth62n5lmvc18gf7iseaf13</string>
	<key>API_KEY</key>
	<string>AIzaSyA3OiKpVg2Kw-lORgBF_6_Re9_WEy2Gebk</string>
	<key>GCM_SENDER_ID</key>
	<string>54024342557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dart</string>
	<key>PROJECT_ID</key>
	<string>satswala</string>
	<key>STORAGE_BUCKET</key>
	<string>satswala.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54024342557:ios:5b383f3f4738c979b58af4</string>
</dict>
</plist>